# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ (Android Studio) related
*.iml
*.ipr
*.iws
**/.idea/
# Exception for IntelliJ run configurations
!.idea/runConfigurations/
!.run/

# Flutter/Dart/Pub related
**/doc/api/
!doc/api
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/